h1 {
    text-align: center;
    color: #8C1C13;
}

.header-background {
    width:100%;
    height: 30em;
   
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    background-color: white;
    padding: 1em 0.5em;
    opacity: 0.6;
    font-size: 3em;
}



#container {
    background-color: #E7D7C1;
    border: 5px solid #735751;
    width: 70%;
    margin: 1em auto;
    
}

.img-body {
    margin: 1em auto;
    display: block;
    width: 70%;
    height: 80%;
}

#user-info {
    text-align: center;
    
}

.btn-enter {
    padding: 0.2em 0.5em;
    display: inline-block;
    background-color: #EE589F;
    border-radius: 3px;
    
}


#message {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 0.5em 1.5em;
    display: block;
    background-color: pink;
    border-radius: 3px;
    margin: 0 0.5rem 1rem;
    cursor:pointer;
    transition: all ease 0.5s;
}
    
.fixed-footer {
    width: 100%;
    text-align: center;
    position: fixed;
    padding: 10px 0;
    color: black;
    }
    

.fixed-footer {
    bottom: 0;
    }
    
 